<section id="features">
	<h2>Why use Kohana?</h2>
	<ul>
		<li class="feat1">
			<h3>Build applications quickly</h3>
			<p>Many common components are included: translation tools, database access, code profiling, encryption, validation, and more.</p>
		</li>
		<li class="feat2">
			<h3>Use specific libraries and tools</h3>
			<p>Extending existing components and adding new libraries is very easy.</p>
		</li>
		<li class="feat3">
			<h3>Write commercial applications</h3>
			<p>Uses the BSD license, so you can use and modify it for commercial purposes.</p>
		</li>
		<li class="feat4">
			<h3>A very fast framework</h3>
			<p>Benchmarking a framework is hard and rarely reflects the real world, but Kohana is very efficient and carefully optimized for real world usage.</p>
		</li>
		<li class="feat5">
			<h3>Good debugging and profiling tools</h3>
			<p>Simple and effective tools help identify and solve performance issues quickly.</p>
		</li>
		<li class="feat6">
			<h3>Know what the framework is doing</h3>
			<p>Very well commented code and a simple routing structure makes it easy to understand what is happening.</p>
		</li>
		<li class="feat7">
			<h3>Work with objects and classes</h3>
			<p>This is an OOP framework that is extremely DRY. Everything is built using strict PHP 5 classes and objects.</p>
		</li>
		<li class="feat8">
			<h3>Write your own code</h3>
			<p>There are no code generators or endless configuration files, so setting up is fast and easy.</p>
		</li>
		<li class="feat9">
			<h3>Community support</h3>
			<p>A very active community forum and IRC channel means that most questions are answered very quickly.</p>
		</li>
	</ul>
</section> <!-- END section#features -->
