<section id="gallery" class="medBkg inset">
	<h2>Gallery</h2>
	<ul class="sliderNav">
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
	</ul>
	<div class="sliderContent">
		<ul>
			<li><a href="http://mellowfranchise.com/"><img src="/assets/img/gallery1.jpg" width="200" height="169" alt="Mellow Mushroom website homepage" /></a></li>
			<li><a href="http://emberapp.com/"><img src="/assets/img/gallery2.jpg" width="200" height="261" alt="The Times - Election'10 website homepage" /></a></li>
			<li><a href="http://generalelection2010.timesonline.co.uk/#/Results"><img src="/assets/img/gallery3.jpg" width="200" height="168" alt="Ember website homepage" /></a></li>
		</ul>
	</div>
</section> <!-- END section#gallery -->