<section id="gallery" class="medBkg inset">
	<h2>Gallery</h2>
	<div class="sliderContent" id="galleryContainer">
		<div>
			<div class="information">
				<h3>Sittercity</h3>
				<a href="http://www.sittercity.com">www.sittercity.com</a>
			</div>
			<img src="/assets/img/gallery/sittercity.jpg" alt="sittercity" />
		</div>
		<div>
			<div class="information">
				<h3>Couch Surfing</h3>
				<a href="http://www.couchsurfing.org">www.couchsurfing.org</a>
			</div>
			<img src="/assets/img/gallery/couchsurfing.jpg" alt="Couch Surfing web site" />
		</div>
		<div>
			<div class="information">
				<h3>We Pay</h3>
				<a href="http://www.wepay.com">www.wepay.com</a>
			</div>
			<img src="/assets/img/gallery/wepay.jpg" alt="We Pay website" />
		</div>
		<div>
			<div class="information">
				<h3>Mukuru</h3>
				<a href="http://www.mukuru.com">www.mukuru.com</a>
			</div>
			<img src="/assets/img/gallery/mukuru.jpg" alt="Mukuru website" />
		</div>
		<div>
			<div class="information">
				<h3>National Geographic Kids</h3>
				<a href="http://kids-myshot.nationalgeographic.com/">http://kids-myshot.nationalgeographic.com/</a>
			</div>
			<img src="/assets/img/gallery/nationalgeographic.jpg" alt="National Geographic Kids My-Shot website" />
		</div>
	</div>
</section> <!-- END section#gallery -->