<section id="gallery" class="medBkg inset">
	<h2>Gallery</h2>
<!--<ul class="sliderNav">
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
	</ul>-->
	<div class="sliderContent">
		<ul>
			<li><a href="http://kids-myshot.nationalgeographic.com/"><img src="/assets/img/gallery/thumb/national-geographic-kids.jpg" width="200" height="169" alt="Your shots: National Geographic Kids" /></a></li>
			<li><a href="http://www.sittercity.com/"><img src="/assets/img/gallery/thumb/sittercity.jpg" width="200" height="169" alt="Sittercity" /></a></li>
			<li><a href="http://mukuru.com/"><img src="/assets/img/gallery/thumb/mukuru.jpg" width="200" height="169" alt="Mukuru.com" /></a></li>
		</ul>
	</div>
</section> <!-- END section#gallery -->