<div id="social" class="lightBkg">
    
	<section id="community">
		<h2>Community</h2>
		<ul>
			<li>
				<a href="#">
					<h3>Forum</h3>
					Official announcements, community support, and feedback.
				</a>
			</li>
			<li>
				<a href="#">
					<h3>IRC</h3>
					Chat with follow Kohana users at #kohana on freenode.
				</a>
			</li>
			<li>
				<a href="#">
					<h3>Github</h3>
					The easiest way to contribute to v3.x is to fork us on GitHub.
				</a>
			</li>
			<li>
				<a href="#">
					<h3>Facebook</h3>
					Join the Facebook group and find other users. 
				</a>
			</li>
			<li>
				<a href="#">
					<h3>Stack Overflow</h3>
					Share your knowledge by answering user questions about Kohana.
				</a>
			</li>
			<li>
				<a href="#">
					<h3>Ohloh</h3>
					View project information and give Kudos for v3.x and v2.x.
				</a>
			</li>
			<li class="tweet">
				<h3>Twitter</h3>
				<q>#Kohana v3.0.8 has just been released! Download <a href="#">http://cl.ly/2VGe</a> Discuss <a href="#">http://cl.ly/2Upi</a> Issues <a href="#">http://cl.ly/2UpH</a></q>
				<time datetime="2010-09-22T21:01+00:00" pubdate><a href="#">9:01 PM Sep 22nd</a></time>
				<p class="twitter"><a href="#">Follow <span>@KohanaPHP</span> <span>on Twitter!</span></a></p>
			</li>
		</ul>
	</section> <!-- END section#community -->
		
	<section id="giving" class="box">
		<h2>Giving back</h2>
		<img src="/assets/img/giving.png" width="48" height="48" />
		<p>If you use Kohana, we ask that you donate to ensure future development is possible.</p>
		<h3>Where will my money go?</h3>
		<p>Your donations are used to cover the cost of maintaining this website and related resources, and services required to provide these resources.</p>
		<p>As part of the Software Freedom Conservancy, your donations are fully tax-deductible to the extent permitted by law.</p>
	</section> <!-- END section#giving -->

</div>