<section id="who" class="darkBkg inset">
	<h2>Who uses Kohana?</h2>
	<ul>
		<li><img src="/assets/img/whoSittercity.png" width="110" height="33" alt="Sittercity" /></li>
		<li><img src="/assets/img/whoKohort.png" width="110" height="28" alt="Kohort" /></li>
		<li><img src="/assets/img/whoNationalGeographic.png" width="110" height="33" alt="National Geographic" /></li>
		<li><img src="/assets/img/whoMukuru.png" width="110" height="23" alt="Mukuru.com" /></li>
	</ul>
	<p>These are some of the people already using Kohana. <a href="http://forum.kohanaframework.org">See more on the Forums.</a></p>
</section> <!-- END section#who -->