<section id="who" class="darkBkg inset">
	<h2>Who uses Kohana?</h2>
	<ul>
		<li><img src="/assets/img/whoMozilla.png" width="50" height="45" alt="Mozilla" /></li>
		<li><img src="/assets/img/whoEA.png" width="50" height="52" alt="EA" /></li>
		<li><img src="/assets/img/whoActivision.png" width="106" height="50" alt="Activision" /></li>
		<li><img src="/assets/img/whoHM.png" width="55" height="45" alt="HM Government" /></li>
		<li>Twitter Img thing</li>
	</ul>
	<p>These are some of the people already using Kohana. <a href="#">See more on the Forums.</a></p>
</section> <!-- END section#who -->