<section id="who" class="darkBkg inset">
	<h2>Who uses Kohana?</h2>
	<div id="whoGallery">
		<img src="{{base_url}}assets/img/gallery/logos/sittercity.png" width="280" height="100" alt="Sittercity" />
		<img src="{{base_url}}assets/img/gallery/logos/couchsurfing.png" width="280" height="100" alt="Couch Surfing" />
		<img src="{{base_url}}assets/img/gallery/logos/wepay.png" width="280" height="100" alt="We Pay" />
		<img src="{{base_url}}assets/img/gallery/logos/mukuru.png" width="280" height="100" alt="Mukuru" />
		<img src="{{base_url}}assets/img/gallery/logos/nationalgeographic.png" width="280" height="100" alt="National Geographic" />
		<img src="{{base_url}}assets/img/gallery/logos/zepol-ti.png" width="280" height="100" alt="Zepol-Ti" />
	</div>
	<p>These are some of the people already using Kohana. <a href="http://forum.kohanaframework.org">See more on the Forums.</a></p>
</section> <!-- END section#who -->