<section class="textHeavy">
	<h1>Make a Donation</h1>
	<p class="intro">Your donations are used to cover the cost of providing the Kohana website and related resources. Your donations are not used for any personal gain. As part of the <a href="http://sfconservancy.org/">Software Freedom Conservancy</a>, your donations are fully tax-deductible to the extent permitted by law.</p>

	<h2 class="top">Using PayPal</h2>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="TYCF8EKGYLL56">
		<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>

	<p class="clear"><small>Your secure donation will be made to the <abbr title="Software Freedom Conservancy">SFC</abbr>. Ten percent (10%) of your donation will given to the <abbr title="Software Freedom Conservancy">SFC</abbr> to help cover administration costs and the remaining funds will be allocated to Kohana.</small></p>
	<!--<div class="span-8 last">
		<h2>Account Status</h2>
		<dl class="account">
			<dt>Latest Expenses</dt>
			<dd>$9.25 on 2010-04-27 for domain names</dd>
			<dd>$27.75 on 2010-02-06 for domain names</dd>
			<dd>$22.00 on 2009-10-26 for domain names</dd>
			<dd>$490.00 on 2009-11-18 for website hosting</dd>

			<dt>Current Balance</dt>
			<dd class="good">$1,908.07</dd>
			<dd><small>Upcoming expenses will be paid in full.</small></dd>
		</dl>
	</div>-->

</section>
