[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = git://github.com/kohana/oauth.git
