<h2>An elegant HMVC PHP5 framework that provides a rich set of components for building web applications.</h2>
<div class="download">
	<a class="cta" href="{{download_link}}"><span>Download</span> <br />{{download_version}}</a>
	<a href="{{download_url}}">Or download other releases</a>
</div>