<p>
	Copyright &copy; 2007&ndash;{{year}}. The awesome
	<a href="{{team_url}}">Kohana Team</a>. Kohana is
	<a href="{{license_url}}">licensed</a> under the BSD License.
	<small>Powered by Kohana v{{kohana_version}} "{{kohana_codename}}"</small>
</p>