<h1><a href="index.html">Kohana</a></h1>
<nav>
<ul>
	<li{{#menu_home}} class="active"{{/menu_home}}><a href="index.html">Home</a></li>
	<li{{#menu_download}} class="active"{{/menu_download}}><a href="download.html">Download</a></li>
	<li{{#menu_documentation}} class="active"{{/menu_documentation}}><a href="documentation.html">Documentation</a></li>
	<li{{#menu_development}} class="active"{{/menu_development}}><a href="development.html">Development</a></li>
</ul>
</nav>