<h1><a href="{{home_url}}">Kohana</a></h1>
<nav>
<ul>
	<li{{#menu_home}} class="active"{{/menu_home}}><a href="{{home_url}}">Home</a></li>
	<li{{#menu_download}} class="active"{{/menu_download}}><a href="{{download_url}}">Download</a></li>
	<li{{#menu_documentation}} class="active"{{/menu_documentation}}><a href="{{documentation_url}}">Documentation</a></li>
	<li{{#menu_development}} class="active"{{/menu_development}}><a href="{{development_url}}">Development</a></li>
</ul>
</nav>