<section class="textHeavy">
	<h1>Download</h1>
	<p>Kohana has two different versions to choose from. All versions are supported for one year from the release date.</p>
	<div id="stable" class="border">
		<div class="download"><a class="cta" href="{{latest_download}}"><span>Download</span> <br />{{latest_version}}</a></div>
		<h3>{{latest_version}} <small>"{{latest_codename}}"</small> <i>{{latest_status}}</i></h3>

		<p>Current stable release of the 3.2.x series, this is the recommended version for all new projects. Support will last until {{latest_support_until}}.</p>
		<ul>
			<li class="lcta changes"><a href="{{latest_changelog}}">Changes</a></li>
			<li class="lcta documentation"><a href="{{latest_documentation}}">Documentation</a></li>
			<li class="lcta issues"><a href="{{latest_issues}}">Issues</a></li>
		</ul>
	</div>
</section>

<div class="lightBkg inset textHeavy">
	<h2>Supported version</h2>
	<h3>{{support_version}} <small>"{{support_codename}}"</small> <i>{{support_status}}</i></h3>
	<p>Officially supported maintenance version. Support will last until {{support_until}}.</p>
	<ul>
		<li class="lcta dl"><a href="{{support_download}}">Download</a></li>
		<li class="lcta changes"><a href="{{support_changelog}}">Changes</a></li>
		<li class="lcta documentation"><a href="{{support_documentation}}">Documentation</a></li>
		<li class="lcta issues"><a href="{{support_issues}}">Issues</a></li>
	</ul>
</div>

<div class="lightBkg inset textHeavy">
	<h2>Looking for an older version?</h2>
	<p>You can find unsupported versions of Kohana in the <a href="http://dev.kohanaframework.org/projects/kohana3/files">3.x archives</a> or <a href="http://dev.kohanaframework.org/projects/kohana2/files">2.x archives</a></p>
</div>