<section class="textHeavy">
	<h1>Download</h1>
	<p>All releases of Kohana are available from <a href="https://github.com/kohana/kohana/releases">Github Releases</a>.</p>
	<p><small><em>Github is the only official release channel!</em></small>
</section>
