<section class="textHeavy">
	<h1>Development</h1>
	<p>
		<b>
			All official development is by the
			<a href="team.html">Kohana Team</a> and tracked on our
			<a href="http://dev.kohanaframework.org/">developer site</a>.
		</b>
	</p>
	<p>
		If you want to report a bug or make a features request, use the
		following links:
	</p>
	<ul>
		<li class="lcta issues">
			<a href="http://dev.kohanaframework.org/projects/kohana3/issues">
				v3.x issues
			</a>
		</li>

		<li class="lcta issues">
			<a href="http://dev.kohanaframework.org/projects/kohana2/issues">
				v2.x issues
			</a>
		</li>
	</ul>
	<p>
		If you want to get involved in core development, please submit patches
		for existing issues. Developers are added to
		<a href="team.html">the team</a> by <strong>invitation only</strong>.
	</p>
	<h2>Extending Kohana</h2>
	<p id="github">
		Kohana has a vibrant development community that provide modules to
		extend and enhance the core framework. If you have a great module that
		you wish to share with the community, why not put it on
		<a href="http://github.com">Github</a>?
	</p>
</section>