# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Remove www. from the URL
RewriteCond %{HTTP_HOST} ^www.kohanaframework.org$ [NC]
RewriteRule ^(.*)$ http://kohanaframework.org/$1 [R=301,L]

# Redirect old guide pages to new URLs
RewriteRule ^guide/about.kohana$ /3.0/guide/kohana [R=301,L]
RewriteRule ^guide/about.conventions$ /3.0/guide/kohana/conventions [R=301,L]
RewriteRule ^guide/about.mvc$ /3.0/guide/kohana/mvc [R=301,L]
RewriteRule ^guide/about.filesystem$ /3.0/guide/kohana/files [R=301,L]
RewriteRule ^guide/about.flow$ /3.0/guide/kohana/flow [R=301,L]
RewriteRule ^guide/about.install$ /3.0/guide/kohana/install [R=301,L]
RewriteRule ^guide/about.upgrading$ /3.0/guide/kohana/upgrading [R=301,L]
RewriteRule ^guide/using.configuration$ /3.0/guide/kohana/bootstrap [R=301,L]
RewriteRule ^guide/using.autoloading$ /3.0/guide/kohana/autoloading [R=301,L]
RewriteRule ^guide/using.views$ /3.0/guide/kohana/mvc/views [R=301,L]
RewriteRule ^guide/using.sessions$ /3.0/guide/kohana/sessions [R=301,L]
RewriteRule ^guide/using.messages$ /3.0/guide/kohana/messages [R=301,L]
RewriteRule ^guide/debugging.code$ /3.0/guide/kohana/debugging [R=301,L]
RewriteRule ^guide/debugging.errors$ /3.0/guide/kohana/errors [R=301,L]
RewriteRule ^guide/debugging.profiling$ /3.0/guide/kohana/profiling [R=301,L]
RewriteRule ^guide/security.xss$ /3.0/guide/kohana/security/xss [R=301,L]
RewriteRule ^guide/security.validation$ /3.0/guide/kohana/security/validation [R=301,L]
RewriteRule ^guide/security.database$ /3.0/guide/kohana/security/database [R=301,L]
RewriteRule ^guide/tutorials.helloworld$ /3.0/guide/kohana/tutorials/hello-world [R=301,L]
RewriteRule ^guide/tutorials.urls$ /3.0/guide/kohana/routing [R=301,L]
RewriteRule ^guide/tutorials.removeindex$ /3.0/guide/kohana/tutorials/clean-urls [R=301,L]
RewriteRule ^guide/tutorials.databases$ /3.0/guide/database [R=301,L]
RewriteRule ^guide/tutorials.orm$ /3.0/guide/orm [R=301,L]
RewriteRule ^guide/tutorials.git$ /3.0/guide/kohana/tutorials/git [R=301,L]
RewriteRule ^guide/cache.about$ /3.0/guide/cache [R=301,L]
RewriteRule ^guide/cache.config$ /3.0/guide/cache/config [R=301,L]
RewriteRule ^guide/cache.usage$ /3.0/guide/cache/usage [R=301,L]

# Redirect from /guide/ to /3.0/guide/
RewriteRule ^guide.* /3.0/guide/$1 [R=301,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite for the guides
RewriteRule ^([\d\.]+)/(guide.*) $1-index.php/$2 [QSA,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^([\d\.]+)/(guide.*)

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [QSA,L]
