<section class="textHeavy">
	<h1>Documentation</h1>
	<p id="book">
		Documentation is provided for both v2.x and v3.x, in separate places. 
		Each major release of Kohana v3.x has independent documentation.
	</p>
	<h2 id="version3docs">Version 3</h2>
	<ul>
		<li class="lcta documentation current">
			<a href="http://kohanaframework.org/3.2/guide/">
				Kohana v3.2 Documentation
			</a>
			<small>
				current release
			</small>
		</li>

		<li class="lcta documentation">
			<a href="http://kohanaframework.org/3.1/guide/">
				Kohana v3.1 Documentation
			</a>
		</li>

		<li class="lcta documentation">
			<a href="http://kohanaframework.org/3.0/guide/">
				Kohana v3.0 Documentation
			</a>
		</li>
	</ul>
	<p>
		Documentation is also included in the userguide module in all releases. 
		Once the <code>userguide module</code> is enabled in the bootstrap, it
		is accessible from your site with <code>/index.php/guide</code> (or 
		just <code>/guide</code> if you are rewriting your urls).
	</p>
	<p>
		Kohana v3.x is self-documenting when the <code>userguide module</code> 
		is enabled. If you follow the documentation conventions when developing
		your application, your documentation will grow with your application.
	</p>
	<h2>Version 2</h2>
	<p>
		For documenation of v2.x, please use the 
		<a href="http://docs.kohanaphp.com/">Kohana Documentation Wiki</a>.
	</p>
	<h2>I still need help!</h2>
	<p>
		The <a href="index.html#community">Kohana user community</a> may be 
		able to help you find the answer you are looking for.
	</p>
</section>