<section class="textHeavy">
	<h1>Team</h1>
	<p>
		Kohana is <a href="http://en.wikipedia.org/wiki/Open_source_software">
		open source software</a> and a member of the 
		<a href="http://sfconservancy.org/">Software Freedom Conservancy</a>, 
		developed by a team of volunteers.
	</p>
	<div class="cols">
		<div>
			<dl>
				<dt>Benevolent dictator for life</dt>
				<dd>Woody Gilk <small>aka</small> shadowhand</dd>
			</dl>
			<dl>
				<dt>Product manager</dt>
				<dd>Jeremy Bush <small>aka</small> zombor</dd>
			</dl>
			<dl>
				<dt>Core Development Team</dt>
				<dd>Chris Bandy <small>aka</small> banditron</dd>
				<dd>Matt Button <small>aka</small> BRMatt</dd>
				<dd>Geert De Deckere <small>aka</small> GeertDD</dd>
				<dd>Isaiah DeRose-Wilson <small>aka</small> isaiahdw</dd>
				<dd>Sam de Freyssinet <small>aka</small> samsoir</dd>
				<dd>John Heathco <small>aka</small> jheathco</dd>
				<dd>Kiall Mac Innes <small>aka</small> Kiall</dd>
				<dd>Ben Rogers <small>aka</small> Nodren</dd>
				<dd>Parnell Springmeyer <small>aka</small> ixmatus</dd>
			</dl>
			<dl>
				<dt>Website Design</dt>
				<dd>Inayaili de Le&oacute;n <small>aka</small> Yaili</dd>
			</dl>
		</div>
		<div>
			<dl>
				<dt>Contributors</dt>
				<dd>Oscar Bajner <small>aka</small> OscarB</dd>
				<dd>Paul Banks <small>aka</small> banks</dd>
				<dd>Brotkin Ivan <small>aka</small> biakaveron</dd>
				<dd>Ryan Mayberry <small>aka</small> kerkness</dd>
				<dd>Bharat Mediratta <small>aka</small> bharat</dd>
				<dd>Matthew Wells <small>aka</small> Colonal-Rosa</dd>
				<dd>and many others&hellip;</dd>
			</dl>
			<dl>
				<dt>Past team members</dt>
				<dd>Jim Auldridge <small>aka</small> JAAulde</dd>
				<dd>Armen Baghumian <small>aka</small> armen</dd>
				<dd>Greg MacLellan <small>aka</small> groogs</dd>
				<dd>Dave Stewart <small>aka</small> davestewart</dd>
				<dd>Maarten van Vliet <small>aka</small> dlib</dd>
				<dd>Rocky Wilkins <small>aka</small> PugFish</dd>
				<dd>Todd Wilson <small>aka</small> Tido</dd>
				<dd>Ted Wood <small>aka</small> coolfactor</dd>
				<dd>Fred Wu <small>aka</small> caglan</dd>
			</dl>
		</div>
	</div>
</section>